body {
  background: #f6f6f7;
  margin: 0;
  height: 100vh;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.container {
  width: 450px;
  height: 600px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.offer {
  width: 350px;
  height: 75px;
  border: 0.9px solid #ffffff; 
  margin: 10px;
  border-radius: 12px 0px 0px 12px; 
  box-shadow: 0px 0px 4px 0px #a7a7a740;
  background: #ffffff;
  display: flex;
}

.rectangle {
  width: 70px;
  height: 100%;
  background-color: #ff6b82;
  top: 168px;
  left: 50px;
  gap: 0px;
  border-radius: 12px 0px 0px 12px;
  border: 0.9px 0.9px 0.9px 0.9px;
  opacity: 0px;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
}
.unique {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 16.35px;
  text-align: center;
  color: #ffffff;
}
 .rectangle1 {
  height: 100%;
  opacity: 0px;
  border-left: 2px dashed #ff6b82;
  display: flex;
  align-items: center;
}

.productdetails {
  width: 350px;
  height: 180px;
  border: 1px solid #ff6b82;
  border-radius: 12px 12px 12px 12px;
  background: #fff9fa;
  margin: 10px;
}

.amountblock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.free {
  color: #ff6b82;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  text-align: left;
}
.total {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  color: #000000;
}

button {
  cursor: pointer;
  width: 350px;
  background: #ff6b82;
  height: 40px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.94px;
  text-align: left;
  color: #3e3e3e;
}
.footer p {
  color: red;
}

.offerdetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.offerdetails p {
  margin: 0px;
}

.offers {
  font-family: Inter;
  font-size: 14.46px;
  font-weight: 400;
  line-height: 17.5px;
  text-align: left;
}
.offeredprice {
  font-family: Inter;
  font-size: 14.46px;
  font-weight: 600;
  line-height: 17.5px;
  text-align: left;
  color: #000000;
}
.popular {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.94px;
  text-align: left;
  margin-left: 20px;
  color: #ff6b82;
}

.section1 {
  display: flex;
  margin: 20px;
}

.discount {
  font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 14.52px;
text-align: center;
background: #FF6B82;
color: #ffffff;
width: Hug (52px)px;
height: Hug (17px)px;
top: 282.12px;
left: 191.77px;
padding: 1px 4px 1px 4px;
gap: 10px;
border-radius: 2px 0px 0px 0px;
opacity: 0px;

}

.discountPrice {
  padding: 5px;
  font-family: Inter;
  font-size: 9.94px;
  font-weight: 400;
  line-height: 12.03px;
  text-align: left;
  color: #000000;
  text-decoration: line-through; /* Adds a line through the text */
  text-decoration-style: dashed; 
}

.section2 {
  margin-left: 20px;
}
select {
  border: 0.9px solid #D9D9D9; /* Added missing semicolon */
  width: 65px;
  height: 25px;
  background: #FFFFFF;

}

h3 {
  font-family: Inter;
font-size: 21.08px;
font-weight: 700;
line-height: 25.51px;
text-align: center;
width: 153px;
height: 26px;
top: 28px;
left: 144px;
gap: 0px;
opacity: 0px;
color: #FF6B82;

}
